package ${package.Service};

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.bbbus.common.mybatis.core.IBaseCURD;
import com.bbbus.common.mybatis.core.page.PageQuery;
import com.bbbus.dao.operator.domain.${entity};
import com.bbbus.dao.operator.domain.bo.${entity}BO;
import com.bbbus.dao.car.domain.vo.${entity}ListVO;
import com.bbbus.dao.operator.domain.vo.${entity}VO;

import java.util.List;


/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends IBaseCURD<${entity}, ${entity}VO, ${entity}BO>{

        /**
         * 查询分页
         *
         * @param operatorId
         * @param pageQuery
         * @return
         */
        IPage<${entity}ListVO> queryPageByList(Long operatorId,PageQuery pageQuery);

        /**
         * 查询列表
         *
         * @param bo
         * @return
         */
        List<${entity}VO> queryList(${entity}BO bo);


}

