package ${package.ServiceImpl};


import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;
import ${package.Entity}.${entity};
import ${package.Entity}.bo.${entity}BO;
import ${package.Entity}.vo.${entity}VO;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import us.aiya.crm.utils.DefaultSearchCondition;
import us.aiya.crm.utils.ObjectUtil;
import us.aiya.crm.utils.SelectPageMent;

import java.util.List;


/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ServiceImpl<${table.mapperName}, ${entity}> implements ${table.serviceName} {


   @Override
   public IPage<${entity}VO> queryPageByList(SelectPageMent spm){

     Page<${entity}> page = new Page<>(spm.getStartPage(), spm.getPageSize());

     DefaultSearchCondition<${entity}> scw = new DefaultSearchCondition<>();

     baseMapper.selectPage(page,scw.computeSearchCondition("create_time", spm));

     return ObjectUtil.copyPage(page, ${entity}VO.class);

   }

   @Override
   public List<${entity}VO> queryList(${entity}BO bo) {
     LambdaQueryWrapper<${entity}> queryWrapper = new LambdaQueryWrapper<>();
     queryWrapper.orderByDesc(${entity}::getCreateTime);
     List<${entity}> list = baseMapper.selectList(queryWrapper);
     return ObjectUtil.copy(list, ${entity}VO.class);
   }


}

