package ${package.Service};

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.IService;
import ${package.Entity}.${entity};
import ${package.Entity}.bo.${entity}BO;
import ${package.Entity}.vo.${entity}VO;
import us.epayworld.common.query.SelectPageMent;
import us.epayworld.common.baseconfig.mybatisplus.core.IBaseCURD;

import java.util.List;


/**
 * $!{table.comment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */

public interface ${table.serviceName} extends ${superServiceClass}<${entity}, ${entity}VO, ${entity}BO>{
    /**
     * 分页查询
     *
     * @Param: spm
     * @return: IPage<${entity}VO>
     */
    IPage<${entity}VO> queryPageByList(SelectPageMent spm);

    /**
     * 查询列表
     *
     * @Param: bo
     * @return: List<${entity}VO>
     */
    List<${entity}VO> queryList(${entity}BO bo);


}

