package ${package.ServiceImpl};


import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import us.aiya.reservation.common.config.mybatisplus.BaseCURDImpl;
import org.springframework.stereotype.Service;
import ${package.Entity}.${entity};
import ${package.Entity}.bo.${entity}BO;
import ${package.Entity}.vo.${entity}VO;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import us.aiya.reservation.common.util.ObjectUtil;

import java.util.List;


/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}, ${entity}VO, ${entity}BO> implements ${table.serviceName} {


   @Override
   public IPage<${entity}VO> queryPageByList(${entity}BO bo){

     Page<${entity}> page = new Page<>(bo.getPageNum(), bo.getPageSize());

     LambdaQueryWrapper<${entity}> queryWrapper = Wrappers.lambdaQuery(${entity}.class);
     queryWrapper.orderByDesc(${entity}::getCreateTime);
     baseMapper.selectPage(page, queryWrapper);

     return ObjectUtil.copyPage(page, ${entity}VO.class);

   }

   @Override
   public List<${entity}VO> queryList(${entity}BO bo) {
     LambdaQueryWrapper<${entity}> queryWrapper = Wrappers.lambdaQuery(${entity}.class);
     queryWrapper.orderByDesc(${entity}::getCreateTime);
     List<${entity}> list = baseMapper.selectList(queryWrapper);
     return ObjectUtil.copy(list, ${entity}VO.class);
   }


}

