package ${package.ServiceImpl};

import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.bbbus.common.core.utils.ObjectUtil;
import com.bbbus.common.mybatis.core.BaseCURDImpl;
import com.bbbus.common.mybatis.core.page.PageQuery;
import com.bbbus.dao.operator.domain.${entity};
import com.bbbus.dao.operator.domain.bo.${entity}BO;
import com.bbbus.dao.operator.domain.vo.${entity}ListVO;
import com.bbbus.dao.operator.domain.vo.${entity}VO;
import com.bbbus.dao.operator.mapper.${table.mapperName};
import com.bbbus.services.operator.service.${table.serviceName};
import org.springframework.stereotype.Service;

import java.util.List;

/**
 * $!{table.comment} 服务实现类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends BaseCURDImpl<${table.mapperName}, ${entity}, ${entity}VO, ${entity}BO> implements ${table.serviceName} {

    @Override
    public IPage<${entity}ListVO> queryPageByList(Long operatorId, PageQuery pageQuery) {
        LambdaQueryWrapper<${entity}> queryWrapper = Wrappers.lambdaQuery(${entity}.class);
        queryWrapper.eq(${entity}::getOperatorId, operatorId);
        queryWrapper.orderByDesc(${entity}::getCreateTime;
        Page<${entity}ListVO> voPage = ObjectUtil.copyPage(this.page(pageQuery.build(), queryWrapper), ${entity}ListVO.class);

        return voPage;
    }

    @Override
    public List<${entity}VO> queryList(${entity}BO bo) {
        LambdaQueryWrapper<${entity}> queryWrapper = Wrappers.lambdaQuery(${entity}.class);
        queryWrapper.eq(${entity}::getOperatorId, operatorId);
        queryWrapper.orderByDesc(${entity}::getCreateTime());

        return this.selectList(queryWrapper);
    }
}

