package ${package.Entity}.bo;

import io.swagger.v3.oas.annotations.media.Schema;
import java.util.Date;
import lombok.Data;
import java.util.Date;



/**
 * $!{table.comment}BO
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@Schema(description = "${entity}BO")
public class ${entity}UpdateBO {
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})
#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end

    @Schema(description = "${field.comment}")
    private ${field.propertyType} ${field.propertyName};
#end


}
